.navbar {
    background-color: darkslategrey;
    display: flex;
    align-items: baseline;
    padding: 10px;
    .navbar__brand {
        a {
            color: white;
            font-size: 1.5rem;
        }
    }
    .navbar__categories {
        padding-left: 20px;
        flex: 1 1;
        a {
            padding-left: 10px;
            color: white;
            text-transform: uppercase;
        }
        
    }
}